.todoapp {
  padding-bottom: 100px;
}
.banner {
  background-image: url("../assets/images/bg-desktop-light.jpg");
  height: 300px;
}

main {
  width: 500px;
  margin: 0 auto;
  margin-top: -216px;


  header {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    h1 {
      margin-right: auto;
      color: white;
      font-size: 40px;
    }
  }

  & .input_form {
    background-color: white;
    margin: 34px 0;
    border-radius: 5px;
    position: relative;
    padding-left: 60px;

    label {
      div {
        border: 1px solid #0000003d;
        border-radius: 50%;
        width: 25px;
        height: 25px;
        position: absolute;
        top: 20px;
        left: 25px;
        cursor: pointer;
        text-align: center;

        img {
          margin-top: 6px;
        }
      }
    }
    & input {
      width: 90%;
      padding: 20px 0;
      padding-left: 20px;
      border: none;
      font-size: 25px;
      background: white;
      border-radius: 5px;

      &:focus {
        outline: none;
        background-color: white;
      }
      &::placeholder {
        color: rgb(197, 195, 195);
      }
    }
    }
  }

  .list_section {
    background-color: white;
    margin-top: 30px;
    border-radius: 5px;
    box-shadow: 0px 0px 30px 20px rgb(158 158 158 / 30%);
    ul {
      li {
        padding: 25px 0 25px 84px;
        border-bottom: 1px solid #80808052;
        position: relative;
        label {
          div {
            border: 1px solid #0000003d;
            border-radius: 50%;
            width: 20px;
            height: 20px;
            position: absolute;
            top: 22px;
            left: 30px;
            cursor: pointer;
            position: absolute;
            text-align: center;
            img {
              margin-top: 6px;
            }
          }
        }
      }
    }
}


.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  background-color: white;
  padding: 16px 16px;
  box-shadow: 0px 25px 22px 10px rgb(158 158 158 / 15%);

  span {
    font-size: 0.7rem;
    margin-right: 100px;
  }
  ul {
    display: flex;
    margin-right: auto;
    & li {
      margin-right: 15px;
      font-size: 14px;
      a {
        cursor: pointer;
      }
    }
  }
  button {
    background: none;
    border: none;
    cursor: pointer;
  }
}
.item_completed {
  text-decoration: line-through;
  color: rgba(128, 128, 128, 0.329);
}

.complete_check {
  background-color: blue;
}
