<section class="todoapp">
  <section class="banner">
  </section>
  <main class="main">
    <header>
      <h1>TODO</h1>
      <div>
        <img src="../assets/images/icon-moon.svg" />
      </div>
    </header>
    <div class="input_form">
      <label for="text_form">
        <div></div>
      </label>
      <form [formGroup]="todoForm" (ngSubmit)="submitTodo(todoForm)">
        <input
          type="text"
          name="text_form"
          id="text_form"
          placeholder="Create a new todo..."
          formControlName="todo"
          >
      </form>
    </div>
    <section class="list_section">
      <ul>
        <li *ngFor="let todo of (todos$ | async)">
          <label><div></div></label>
          {{todo.title}}
        </li>
      </ul>
    </section>
    <footer class="footer" *ngIf="noOfItems > 0">
      <span class="todo-count"><strong>{{noOfItems}}</strong> items left</span>
      <ul>
        <li><a>All</a></li>
        <li><a>Active</a></li>
        <li><a>Completed</a></li>
      </ul>
      <button type="button" class="clear_completed">Clear Completed</button>
    </footer>
  </main>
</section>
