<section class="todoapp">
  <section class="banner">
  </section>
  <main class="main">
    <header>
      <h1>TODO</h1>
      <div>
        <img src="../assets/images/icon-moon.svg" />
      </div>
    </header>
    <div class="input_form">
      <label for="text_form">
        <div></div>
      </label>
      <input type="text" name="text_form" id="text_form" placeholder="Create a new todo...">
    </div>
    <section class="list_section">
      <ul>
        <li>
          <label><div></div></label>
          Complete online Javascript course
        </li>
        <li>
          <label><div></div></label>
          Jog around the park 3x
        </li>
        <li>
          <label><div></div></label>
          10 minutes meditation
        </li>
        <li>
          <label><div></div></label>
          Read for 1 hour
        </li>
        <li>
          <label><div></div></label>
          Pick up groceries
        </li>
        <li>
          <label><div></div></label>
          Complete Todo App on Frontend Mentor
        </li>

      </ul>
    </section>
    <footer class="footer">
      <span class="todo-count"><strong>5</strong> items left</span>
      <ul>
        <li><a>All</a></li>
        <li><a>Active</a></li>
        <li><a>Completed</a></li>
      </ul>
      <button type="button" class="clear_completed">Clear Completed</button>
    </footer>
  </main>
</section>
